{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}

<section class="well well-sm">
    <ul class="list-group list-group-flush">
        {% include 'includes/sidebar/pageview.html' %}
        {% include 'includes/sidebar/popular.html' %}
        {% include 'includes/sidebar/recent.html' %}
        {% include 'includes/sidebar/categories.html' %}
        {% include 'includes/sidebar/tags.html' %}
        {% include 'includes/sidebar/series.html' %}
        {% include 'includes/sidebar/social.html' %}
        {% include 'includes/sidebar/github.html' %}
        {% include 'includes/sidebar/twitter_timeline.html' %}
        {% include 'includes/sidebar/links.html' %}
        {% include 'includes/sidebar/images.html' %}
    </ul>
</section>
